<a href="https://colab.research.google.com/github/Jonnytan555/ML_for_Finance/blob/main/Stock_Movement_Predictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Stock Predicting

In [ ]:
#Import libaries
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
import numpy as np
import pandas as pd

In [ ]:
#Read in data
fb = pd.read_csv('facebook.csv')
fb.head()

,price.open,price.high,price.low,price.close,volume,price.adjusted,ref.date,ticker,ret.adjusted.prices,ret.closing.prices
0,174.500000,176.220001,172.039993,173.800003,24825500,173.800003,17/08/2018,FB,-0.005152,-0.005152
1,180.419998,180.500000,174.009995,174.699997,31351800,174.699997,16/08/2018,FB,-0.026904,-0.026904
2,179.339996,180.869995,174.779999,179.529999,33020200,179.529999,15/08/2018,FB,-0.008724,-0.008724
3,180.710007,181.990005,178.619995,181.110001,19102000,181.110001,14/08/2018,FB,0.005887,0.005887
4,180.100006,182.610001,178.899994,180.050003,17369400,180.050003,13/08/2018,FB,-0.001165,-0.001165

In [ ]:
#Remove NaN
fb.dropna()
#Set the date as the index
fb = fb.set_index(pd.DatetimeIndex(fb['ref.date'].values))

In [ ]:
fb.index.name = 'Date'
fb

,price.open,price.high,price.low,price.close,volume,price.adjusted,ret.adjusted.prices,ret.closing.prices,Price_Up
Date,,,,,,,,,
2018-08-17,174.500000,176.220001,172.039993,173.800003,24825500,173.800003,-0.005152,-0.005152,1
2018-08-16,180.419998,180.500000,174.009995,174.699997,31351800,174.699997,-0.026904,-0.026904,1
2018-08-15,179.339996,180.869995,174.779999,179.529999,33020200,179.529999,-0.008724,-0.008724,1
2018-08-14,180.710007,181.990005,178.619995,181.110001,19102000,181.110001,0.005887,0.005887,0
2018-08-13,180.100006,182.610001,178.899994,180.050003,17369400,180.050003,-0.001165,-0.001165,1
...,...,...,...,...,...,...,...,...,...
2017-08-25,167.860001,168.380005,166.179993,166.320007,12614500,166.320007,-0.008465,-0.008465,1
2017-08-24,168.880005,169.289993,166.410004,167.740005,14030400,167.740005,-0.005750,-0.005750,1
2017-08-23,168.839996,169.360001,168.199997,168.710007,9856500,168.710007,-0.005482,-0.005482,1
2017-08-22,168.279999,169.869995,167.149994,169.639999,11391000,169.639999,0.011086,0.011086,0
2017-08-21,167.160004,168.000000,165.820007,167.779999,11907500,167.779999,0.002210,0.002210,0

In [ ]:
#Maniplulate the data
#Create a Target column - we want to know if the stock price went up 

fb['Price_Up']=np.where(fb['price.close'].shift(-1)>fb['price.close'],1,0)

In [ ]:
fb = fb.dropna()
fb.head()

,price.open,price.high,price.low,price.close,volume,price.adjusted,ret.adjusted.prices,ret.closing.prices,Price_Up
Date,,,,,,,,,
2018-08-17,174.500000,176.220001,172.039993,173.800003,24825500,173.800003,-0.005152,-0.005152,1
2018-08-16,180.419998,180.500000,174.009995,174.699997,31351800,174.699997,-0.026904,-0.026904,1
2018-08-15,179.339996,180.869995,174.779999,179.529999,33020200,179.529999,-0.008724,-0.008724,1
2018-08-14,180.710007,181.990005,178.619995,181.110001,19102000,181.110001,0.005887,0.005887,0
2018-08-13,180.100006,182.610001,178.899994,180.050003,17369400,180.050003,-0.001165,-0.001165,1

In [ ]:
#split the data into a feature dataset 
X = fb.drop('Price_Up',axis=1)
y = fb['Price_Up']

In [ ]:
#Split the data into 80% training and 20% testing
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size = 0.2)

In [ ]:
#Create and train model's

tree = DecisionTreeClassifier()
tree.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
print(tree.score(X_test,y_test))

0.9803921568627451

In [ ]:
Test_Predictions = tree.predict(X_test)
Test_Predictions

array([1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 0])

In [ ]:
y_test

Date
2018-02-16    1
2018-07-13    0
2017-08-23    1
2018-07-26    1
2018-09-08    1
2018-07-05    0
2018-03-15    1
2018-08-08    0
2017-09-11    1
2017-02-11    1
2018-01-05    0
2017-12-20    1
2018-01-24    1
2018-06-14    0
2018-01-19    0
2018-07-03    0
2018-05-01    0
2017-12-10    1
2018-05-04    0
2018-04-01    1
2017-12-14    0
2017-11-10    0
2018-07-08    1
2017-10-26    0
2018-01-08    1
2017-12-15    0
2018-07-19    1
2017-10-25    1
2018-05-23    0
2018-08-02    1
2017-09-15    0
2017-03-11    0
2017-09-14    1
2018-02-03    0
2018-04-04    1
2018-11-06    0
2018-01-17    1
2018-12-04    1
2017-08-24    1
2018-02-01    0
2018-02-28    1
2017-04-12    1
2017-12-19    1
2018-11-04    0
2018-01-03    1
2018-07-30    1
2017-09-18    1
2018-10-01    1
2017-10-23    1
2018-02-04    1
2017-12-28    0
Name: Price_Up, dtype: int32